.padding{
    padding: 10%;
}
.padd{
    padding-left:3%;
    padding-right:3%
}

.position{
    position: absolute;
    right: 3%;
    bottom: 5%;
}

.direct{
    direction: rtl;
}

.padding-a{
    padding: 2%;
}

.direct-d{
    direction: ltr;
}

.form-style{
    height: 100vh;
    width: 30vw;
}

.invalid-field {
    width: 100%;
    margin-top: 1px;
    text-align: right;
    font-size:smaller;    
  }